#home {
  height: 100%;
  width: 90%;
  flex-direction: column;
}

div#home-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div#home-subtext-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 10px;
}

div#home-right-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

div#home-subtext-container ol {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;

  list-style: none;
  border: 1px solid gray;
  padding: 20px;
}
